extends layout

block content
    .container
        .col-2of5.bg-white.profile
            img.avatar(src="/img/avatar.jpg" alt="avatar")
            h3 Yuhua Guo
            h5 @yuhuayan
            h4
                i.fas.fa-map-marker-alt
                |  Calgary
            p.center
                | Learner of EduHacks * Digital Ocean Vancouver Meetup Co-organizer * CEO of HackHub * Founder of Inverse Technology Inc.
        include tweet